@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #333; /* Background gelap agar buku lebih kontras */
}

.flipbook {
    /* Rasio A4 (Total 2 halaman berdampingan) */
    width: 990px;  
    height: 700px;
    
    /* Sembunyikan dulu sampai semua gambar diload JS */
    visibility: hidden; 
    
    background: transparent;
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.flipbook .page,
.flipbook .hard,
.flipbook div {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.flipbook img {
    width: 100%;
    height: 100%;
    
    /* Gunakan Fill agar memaksa gambar mengikuti rasio A4 */
    object-fit: fill; 
    
    display: block;
    
    /* OPTIMASI PERFORMA AGAR TIDAK KEDIP PUTIH */
    -webkit-user-select: none; /* Mencegah blok biru saat drag */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none; /* Mencegah gambar di-drag ghosting */
}

.flipbook .hard {
    background: none !important;
}