@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    background: #333; /* Background gelap */
}

#loader {
    position: absolute;
    color: white;
    font-size: 18px;
    z-index: 1000;
}

.flipbook {
    width: 960px;
    height: 680px;
    visibility: hidden;
    background: transparent;
    
    /* Memberi sedikit bayangan di bawah buku agar terlihat mengambang 3D */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* SETTING HALAMAN AGAR TERLIHAT SEPERTI KERTAS */
.flipbook .page,
.flipbook .hard,
.flipbook div {
    /* Kita kembalikan warna putih agar terlihat solid saat membalik */
    background-color: #ffffff; 
    
    /* PENTING: Agar render 3D tidak patah-patah */
    transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d;
}

.flipbook img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    display: block;
    
    /* Mencegah gambar berkedip/hilang saat animasi cepat */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    user-select: none;
    pointer-events: none;
}

/* Hard cover transparan agar gambar cover2/back2 terlihat penuh */
.flipbook .hard {
    background: none !important; 
}