@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #333; 
}

#loader {
    position: absolute;
    color: white;
    font-size: 18px;
    z-index: 99;
}

.flipbook {
    width: 960px;
    height: 680px;
    visibility: hidden;
    background: transparent;
    /* Bayangan di bawah buku saja */
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

/* --- LOGIKA UTAMA: BACKGROUND IMAGE --- */

.flipbook .page,
.flipbook .hard,
.flipbook div {
    /* 1. Atur gambar agar selalu memenuhi kotak */
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
    
    /* 2. Warna dasar putih (jika gambar loading) */
    background-color: #fff;
    
    /* 3. Render GPU untuk performa maksimal */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform; 
}

/* Khusus Hard Cover */
.flipbook .hard {
    /* Pastikan tidak ada border atau warna lain yang mengganggu */
    border: none !important;
}

/* Menghilangkan seleksi biru yang mengganggu */
.flipbook div,
.flipbook .page {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}